
.headline {
  display: block;
  font-size:150px;
  color: black;
  background-color: var(--text-color);
  font-weight: bold;
  width: auto;
  height: 160px;
  margin-bottom: 0px;
  animation : headline_popup 0.6s forwards ease-out;
  }
  
  @keyframes headline_popup {
    0% {
      width: 0px;
    }
  
    100% {
      width: 100%;
    }
  }