@keyframes splash {
  0% {
  opacity: 1;
  }
  
  100% {
  opacity: 0;
  visibility: hidden;
  }
  }

  @keyframes bottom_opacity {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  @keyframes headline_popup {
    0% {
      width: 0px;
    }
  
    100% {
      width: 100%;
    }
  }


@keyframes opacity {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 100;
  }
}