
:root {
  --main-color : black;
  --text-color : white;
  --background-color: black;
  --splash-color : white;
}

.splash_screen {
position: absolute;
width: 100vw;
height: 100vh;
background-color: var(--splash-color);
animation: splash 0.5s forwards;
}

@keyframes splash {
0% {
opacity: 1;
}

100% {
opacity: 0;
visibility: hidden;
}
}

.bottom_subject {
  animation: opacity 3s forwards ease-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

body {
background-color: var(--background-color);
overflow: hidden;
}

.headline {
display: block;
font-size:150px;
color: black;
background-color: var(--text-color);
font-weight: bold;
width: auto;
height: 160px;
margin-bottom: 0px;

}
.subline {
display: block;
margin-top:15px;
font-size: 80px;
color:var(--text-color);

}
.description span {
display: block;
margin-top:10px;
font-size: 30px;
color: var(--text-color);
}

.enter_btn {
margin-top:50px;
width: 200px;
height: 55px;
background-color: var(--splash-color);
color:var(--main-color);
font-size: 45px;
text-align: center;
font-weight: bold;
vertical-align: baseline;
margin-right: 120px;
transition: background-color 0.2s ease-out 50ms;
transition: color 0.2 ease-out 50ms;
}

.enter_btn:hover {
background-color: var(--main-color);
color: var(--splash-color);
}

a {
color:inherit;
text-decoration: none;
}

.bottom_subject {
position: fixed;
bottom: 0;
right: 0;
color:var(--splash-color);
font-size:220px;
font-weight: bold;
}
